// for small devices
@media screen and (max-width: 320px) {
  .nav__menu {
    padding: 1rem 1.5rem;
  }

  .services__container {
    grid-template-columns: 200px;
    justify-content: center;
  }

  .work__item{
    font-size:var(--small-font-size);
  }

  .work__filters{
    column-gap: .25rem;
  }
}
